<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alya Temp File Transfer</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <p class="title">
                Alya Temp File Transfer
            </p>
            <p class="subtitle">
                Temporary and encrypted transfer everywhere!!
            </p>
        </div>
    </section>

    <section class="section columns">
        <div class="column" style="margin: auto;"></div>
        <div class="column is-8">
                <div id="download-file"  class="file has-name is-boxed is-centered">
                <label class="file-label">
                  <span id="file-name" class="file-name">
                    {{ .filename }}
                  </span>
                  <span id="file-key" class="file-name">
                    <!-- key if exist -->
                    {{ .key }}
                  </span>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-download"></i>
                    </span>
                    <span class="file-label">
                        Download
                    </span>
                  </span>
                </label>
              </div>
            
        </div>
        <div class="column" style="margin: auto;"></div>
        
        </section>


        <section class="section columns">
            <div class="column" style="margin: auto;"></div>
            <div class="column is-8">
              
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Uploads</p>
                            <p class="title">+1.000</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Github Forks</p>
                            <p class="title">+123</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Dayly Uploads</p>
                            <p class="title">+450</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Likes</p>
                            <p class="title">+789</p>
                        </div>
                    </div>
                </nav>
                
            </div>
            <div class="column" style="margin: auto;"></div>
            
            </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>alya-temp-transfer</strong> by <a href="https://alperreha.yazgan.xyz">Alper Reha YAZGAN</a>. The source code
                is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>

    <script>
      // open file in new tab if clicked download-file id area
      document.getElementById("download-file").addEventListener("click", function() {
        var fileName = document.getElementById("file-name").innerHTML;
        var fileKey = document.getElementById("file-key").innerHTML;
        // trim spaces
        fileName = fileName.replace(/\s/g, '');
        fileKey = fileKey.replace(/\s/g, '');
        var url = "/api/" + fileKey + "/" + fileName;
        window.open(url, '_blank');
      });

      </script>
</body>

</html>